{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/fishes/fish-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Fish List</h1>
  <img src="{% static 'images/Angel-fish.png' %}" alt="Angel fish" />
  <img src="{% static 'images/Betta-fish.png' %}" alt="Betta fish" />
  <img src="{% static 'images/Blue-tang-fish.png' %}" alt="Blue tang fish" />
  <img src="{% static 'images/Clownfish.png' %}" alt="Clownfish" />
  <img src="{% static 'images/default-fish.png' %}" alt="Default rainbow fish" />
  <img src="{% static 'images/Goby-fish.png' %}" alt="Goby fish" />
  <img src="{% static 'images/Goldfish.png' %}" alt="Golfish" />
  <img src="{% static 'images/Lionfish.png' %}" alt="Lionfish" />
  <img src="{% static 'images/Puffer-fish.png' %}" alt="Puffer fish" />
  <img src="{% static 'images/Rainbow-fish.png' %}" alt="Rainbow fish" />
  <img src="{% static 'images/Red-snapper-fish.png' %}" alt="Red snapper fish" />
  <img src="{% static 'images/Swordfish.png' %}" alt="Swordfish" />
  <img src="{% static 'images/Trigger-fish.png' %}" alt="Trigger fish" />
  <img src="{% static 'images/Wrasse-fish.png' %}" alt="Wrasse fish" />
</section>

<section class="card-container">
  {% for fish in fishes %}
  <div class="card">
    <a href="{% url 'fish-detail' fish.id %}">
      <div class="card-img-container">
        <img src="{% static fish.image_url %}" alt="{{ fish.name }}">
      </div>
      <h2 class="card-title">{{ fish.name }}</h2>
      {% if fish.age > 0 %}
        <p>A {{ fish.age }} year old {{ fish.breed }} fish</p>
      {% else %}
        <p>A {{ fish.breed }} fish.</p>
      {% endif %}
    </a>
  </div>
{% endfor %}
  </section>

{% endblock %}